{{#extend "layout"}}

  {{#content "breadcrumbs"}}
  <ol class="breadcrumb">
      <li class="breadcrumb-item">Admin</li>
      <li class="breadcrumb-item active">Workflow</li>
      <!-- Breadcrumb Menu-->
      <li class="breadcrumb-menu d-md-down-none">
          <div class="btn-group" role="group" aria-label="Button group">
          <a class="btn" href="#">
              <i class="icon-speech"></i>
          </a>
          <a class="btn" href="./">
              <i class="icon-graph"></i>  Dashboard</a>
          <a class="btn" href="#">
              <i class="icon-settings"></i>  Settings</a>
          </div>
      </li>
  </ol>
  {{/content}}

  {{#content "body"}}
  <div class="manager-tab-content user-list row"></div>
    <div class="workflow-users col-md-8" id="content-workflows">
      
    </div>
  </div>
  {{/content}}

  {{#content "bottom-scripts"}}
    <script type="text/javascript" src="/abecms/libs/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.min.js"></script>
    <script type="text/javascript" src="/abecms/libs/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/6e9b081f7f.js"></script>
    <script type="text/javascript" src="/abecms/libs/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/abecms/libs/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="/abecms/scripts/admin-compiled.js"></script>
    <script type="text/javascript" src="/abecms/scripts/template-engine-compiled.js"></script>
    <script type="text/javascript" src="/abecms/scripts/v4/workflows.js"></script>

  {{/content}}

{{/extend}}
