{{#extend "layout"}}

  {{#content "breadcrumbs"}}
  <ol class="breadcrumb">
      <li class="breadcrumb-item">Admin</li>
      <li class="breadcrumb-item active">routes</li>
      <!-- Breadcrumb Menu-->
      <li class="breadcrumb-menu d-md-down-none">
          <div class="btn-group" role="group" aria-label="Button group">
          <a class="btn" href="#">
              <i class="icon-speech"></i>
          </a>
          <a class="btn" href="./">
              <i class="icon-graph"></i>  Dashboard</a>
          <a class="btn" href="#">
              <i class="icon-settings"></i>  Settings</a>
          </div>
      </li>
  </ol>
  {{/content}}

  {{#content "body"}}

  <div class="container container-main user-list" id="permissions">
	<div class="row" style="margin-bottom: 20px;">
		<div class="col">
			<button class="btn btn-success" onclick="savePermissions()"><span class="fas fa-save"></span>&nbsp;&nbsp;Save Permissions</button>
		</div>
	</div>
	<div class="row">
		<div class="col">

            <div class="alert alert-success" id="success-alert" role="alert">
                Permissions saved!
            </div>

			<table class="table table-bordered" id="permissions">

                <thead>
                    <tr id="headlist">
                        <th>Method</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody id="permissions-list">
                    
                </tbody>
            </table>
		</div>
    </div>
    </div>
    
    {{#content "bottom-scripts"}}
    <script type="text/javascript" src="/abecms/libs/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="/abecms/libs/bootstrap.min.js"></script>
    <script type="text/javascript" src="/abecms/scripts/template-engine-compiled.js"></script>
    <script type="text/javascript" src="/abecms/scripts/v4/permissions-compiled.js"></script>
  {{/content}}

  {{/content}}



{{/extend}}