{{#extend "layout"}}

  {{#content "breadcrumbs"}}
  <ol class="breadcrumb">
      <li class="breadcrumb-item">Admin</li>
      <li class="breadcrumb-item active">routes</li>
      <!-- Breadcrumb Menu-->
      <li class="breadcrumb-menu d-md-down-none">
          <div class="btn-group" role="group" aria-label="Button group">
          <a class="btn" href="#">
              <i class="icon-speech"></i>
          </a>
          <a class="btn" href="./">
              <i class="icon-graph"></i>  Dashboard</a>
          <a class="btn" href="#">
              <i class="icon-settings"></i>  Settings</a>
          </div>
      </li>
  </ol>
  {{/content}}

  {{#content "body"}}

  <div class="container container-main user-list" id="permissions">
	<div class="row" style="margin-bottom: 20px;">
		<div class="col">
			<button class="btn btn-success" @click="savePermissions"><span class="fas fa-save"></span>&nbsp;&nbsp;Save Permissions</button>
		</div>
	</div>
	<div class="row">
		<div class="col">

			<table class="table table-bordered" id="permissions">

                <thead>
                    <tr>
                        <th>Method</th>
                        <th>Link</th>
                        <th v-for="role in roles" align="center" class="text-center">${ role.name }</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(perm, url) in perms">
                        <td>${ perm.method }</td>
                        <td>${ url }</td>
                        <td v-for="(role, name) in perm.roles">
                            <div class="permission-box">
                                <input class="permission-checkbox" type="checkbox" v-model="perms[url].roles[name]" :disabled="isDisabled(name)">
                                ${ role }
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
		</div>
    </div>
    </div>
    
    {{#content "bottom-scripts"}}
    <script type="text/javascript" src="/abecms/libs/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="/abecms/libs/bootstrap.min.js"></script>
    <script type="text/javascript" src="/abecms/scripts/template-engine-compiled.js"></script>
    <script type="text/javascript" src="/abecms/scripts/v4/v4-engine.js"></script>
    <script type="text/javascript" src="/abecms/scripts/v4/permissions-compiled.js"></script>
  {{/content}}

  {{/content}}



{{/extend}}