{{#extend "layout"}}

  {{#content "body"}}

<div class="container container-main references" id="references">
	<div class="row" style="margin-bottom: 20px;">
		<div class="col-sm-12 col-md-4 col-lg-3">
			<div class="row mb-3">
				<div class="input-group mb-3">
					<input type="text" class="form-control" id="ref-filename" placeholder="filename.json" aria-label="Filename" aria-describedby="basic-addon1">
				</div>
				<button type="button" class="btn btn-primary" onclick="addReference()">Add reference</button>
			</div>
			<div class="row">
				<div class="col">
					<h4>References list</h4>
					<br />
					<div class="list-group" id="refs-list">
						
					</div>
				</div>
			</div>
		</div>

		<div class="col" id="editorcol">
			<div class="alert alert-success" id="successalert" role="alert">
				<strong>File <span id="filename">${ jsonName }</span> saved!</strong> <i>(auto close in 2 seconds)</i>
			</div>
			<p>You are editing : <span id="filename2">${ jsonName }</span> &nbsp;&nbsp;<button v-if="showing" onclick="saveReference()" type="button" class="btn btn-warning">Save Editor</button>&nbsp;&nbsp;<button v-if="showing" type="button" class="btn btn-default" onclick="closeEditor()">Close Editor</button><br /><br /></p>
			<textarea id="jsonToShow" rows="20" cols="60"></textarea>
		</div>
	</div>
</div>

{{#content "bottom-scripts" mode="append"}}
<script type="text/javascript" src="/abecms/scripts/v4/references-compiled.js"></script>
{{/content}}

  {{/content}}
{{/extend}}
  