
{{#extend "layout"}}
  {{#content ""}}
  {{#content "body"}}
  <div class="manager-tab structure-folders">
    <div class="text-uppercase">
      Structure editor
    </div>
    <div class="structure-editor manager-tab-content">
      <input type="hidden" class="structure-json" value='{{@root.structure}}'>
      <input type="text" class="form-control folder-name" id="inputStructure" value="" placeholder="folder name" data-folder="" disabled>
      <div class="help-info">
        hit <span>ENTER</span> to create folder
      </div>
      <div class="structure-wrapper">
            
      </div>
    </div>
  </div>
  {{/content}}

  {{#content "bottom-scripts"}}
    <script type="text/javascript" src="/abecms/libs/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="/abecms/libs/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/6e9b081f7f.js"></script>
    <script type="text/javascript" src="/abecms/libs/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/abecms/libs/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="/abecms/scripts/admin-compiled.js"></script>
    <script type="text/javascript" src="/abecms/scripts/template-engine-compiled.js"></script>      
  {{/content}}
{{/extend}}
