{{#extend "layout"}}
{{#content "body"}}

<div class="container container-main user-list" id="users-list">
	<div class="row" style="margin-bottom: 20px;">
		<div class="col">
			<button class="btn btn-success" onclick="openAddUser()"><span class="fas fa-user-plus"></span>&nbsp;&nbsp;Add user</button>
		</div>
	</div>
	<div class="row">
		<div class="col">

			<table class="table table-bordered" id="userstable">
				<thead>
				<tr>
					<th scope="col">Picture</th>
					<th scope="col">Username</th>
					<th scope="col">Name</th>
					<th scope="col">Email</th>
					<th scope="col">Role</th>
					<th scope="col">Active / Inactive</th>
					<th scope="col">Actions</th>
				</tr>
				</thead>
				<tbody id="list-body">
				</tbody>
			</table>

		</div>
	  </div>
	  
	<div class="modal fade" id="modifyModal" tabindex="-1" role="dialog" aria-labelledby="modalModifyUser">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Update user <span id="inputStringUsername">username</span> </h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<div id="alertModifyError" class="alert alert-danger" role="alert">
						<strong>Error occured</strong> <p id="textErrorModify"></p>
					</div>
					<form id="formUserUpdate" >
						<div class="form-group">
							<label for="inputModifyEmail">Email address</label>
							<input type="email" class="form-control" id="inputModifyEmail">
						</div>
						<div class="form-group">
							<label for="inputModifyUsername">Username</label>
							<input type="text" class="form-control" id="inputModifyUsername">
						</div>
						<div class="form-group">
							<label for="inputModifyName">Name</label>
							<input type="text" class="form-control" id="inputModifyName">
						</div>
						<div class="form-group">
							<label for="inputModifyRole">Role (Current : <span id="inputStringRole">role</span>)</label>
							<select class="form-control" id="inputModifyRole" >
							</select>
						</div>
						<input id="inputModifyId" value="-1" type="hidden" />
						<button type="submit" class="btn btn-primary btn-block">Save changes</button>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div>

	<div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="modalModifyUser">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Do you want to remove user <span id="mr-username"></span> </h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<p>User details:<br />
						<ul>
							<li>Email: <strong id="mr-email">email</strong></li>
							<li>Name: <strong id="mr-name">name</strong></li>
							<li>Username: <strong id="mr-username2">username</strong></li>
						</ul>
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-warning btn-block" id="removeUserConfirmButton">Delete this user !</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="modalAddUser">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Create a user</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<div id="alertAddSuccess" class="alert alert-success" role="alert">
						<strong>User added!</strong> <i>(auto close in 2 seconds)</i>
					</div>
					<div id="alertAddError" class="alert alert-danger" role="alert">
						<strong>Error occured</strong> <p id="textErrorAdd"></p>
					</div>
					<form id="addUserForm" >
						<div class="form-group">
							<label for="inputAddEmail">Email address</label>
							<input type="email" class="form-control" id="inputAddEmail" >
						</div>
						<div class="form-group">
							<label for="inputAddUsername">Username</label>
							<input type="text" class="form-control" id="inputAddUsername" >
						</div>
						<div class="form-group">
							<label for="inputAddName">Name</label>
							<input type="text" class="form-control" id="inputAddName" >
						</div>
						<div class="form-group">
							<label for="inputAddPassword">Password</label>
							<input type="password" class="form-control" id="inputAddPassword" >
						</div>
						<div class="form-group">
							<label for="inputAddRole">Role </label>
							<select class="form-control" id="inputAddRole">
							</select>
						</div>
						<button type="submit" class="btn btn-success btn-block">Create user</button>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div>
  </div>

{{/content}}

{{#content "bottom-scripts" mode="append"}}
<script type="text/javascript" src="/abecms/libs/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/abecms/libs/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/abecms/scripts/v4/v4-engine.js"></script>
<script type="text/javascript" src="/abecms/scripts/v4/users.js"></script>
{{/content}}
{{/extend}}