.hidden {
	display: none!important
}

.structure-editor {
	display: inline-block
}

.structure-editor .help-info {
	transition: all 150ms ease-in-out;
	font-size: 11px;
	color: #e6e6e6;
	padding: 2px
}

.structure-editor .help-info span {
	color: #ccc
}

.structure-editor [disabled="disabled"]~.help-info {
	opacity: 0.1
}

.folder-name {
	transition: all 350ms ease-in-out;
	display: inline-block;
	width: 100%;
	opacity: 1
}

.folder-name[disabled] {
	opacity: 0.4
}

.folder-name.error {
	border-color: red
}

.structure-folder {
	margin: 5px;
	position: relative
}

.structure-folder>span:hover {
	cursor: pointer
}

.structure-folder .fa-arrow-right {
	transition: all 100ms ease-in-out;
	font-size: 20px
}

.structure-folder.open>span .fa-arrow-right {
	transform: rotate(45deg)
}

.structure-folder.open:before {
	background: #eee;
	content: " ";
	position: absolute;
	bottom: 3px;
	left: 6px;
	width: 1px;
	height: calc(100% - 34px)
}

.structure-folder .structure-folder {
	margin-left: 20px
}

.structure-folder .fa-minus,
.structure-folder .fa-plus {
	transition: all 100ms ease-in-out;
	opacity: 0.5
}

.structure-folder .fa-minus:hover,
.structure-folder .fa-plus:hover {
	opacity: 1
}

.structure-folder .structure-tool {
	display: inline-block;
	transition: all 100ms ease-in-out;
	opacity: 0.2;
	padding: 0px 5px
}

.structure-folder .structure-tool:hover {
	opacity: 1
}

.structure-folder .fa-minus {
	font-size: 15px
}

.structure-folder .fa-minus:hover {
	color: #ff1371
}

.structure-folder .fa-plus {
	font-size: 13px;
	transform: translate3d(0, -1px, 0)
}

.structure-folder .fa-plus:hover {
	color: #47b8e0
}

.fa-plus {
	margin-right: 5px;
}



.role-wrapper {
	background: #fafafa;
	padding: 10px 0px 10px 24px
}

.workflow-users {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial
}

.workflow-users .role-name {
	font-weight: bold
}

.workflow-users .workflow-title {
	text-transform: capitalize;
	font-weight: bold;
	color: #4078c0
}

.workflow-users .workflow-flex {
	display: flex
}

.workflow-users .workflow-wrapper {
	display: flex;
	flex: 1;
	vertical-align: top;
	margin-left: -4px
}

.workflow-users .workflow-box {
	background: #fff;
	border-radius: 3px;
	border: 1px #e5e5e5 solid !important;
	margin: 5px 30px 5px 0px;
	padding: 5px;
	position: relative;
	width: 100%;
	height: 100%
}

.workflow-users .icon-allowed {
	color: #6cc644
}

.workflow-users .icon-not-allowed {
	color: #ee0701
}

.workflow-users .workflow-actif {
	color: #767676
}

.workflow-users .workflow-actif:before {
	content: "-";
	margin-right: 6px
}

.workflow-users .workflow-inactif {
	text-decoration: line-through;
	color: #e5e5e5
}

.workflow-users .workflow-inactif:before {
	content: "-";
	margin-right: 6px
}

.workflow-users .icon-reject {
	position: absolute;
	left: 0px;
	top: 50%;
	transform: translate(-24px, -10px);
	padding: 2px
}

.workflow-users .icon-submit {
	position: absolute;
	right: 0px;
	top: 50%;
	transform: translate(21px, 10px)
}

.manager-tab-content {
	padding-top: 20px;
	padding-left: 20px
}


.user-list .table .glyphicon {
	cursor: pointer
}

.user-list table {
	margin-bottom: 0px
}

.user-list table .form-group {
	margin-bottom: 0px
}

.user-list .table>tbody>tr>td.no-border {
	border: 0px
}


.icon{
    position:relative;
    display:inline-block;
    width:25px;
    height:15px;
	margin:0px;
	margin-left: 5px;
	margin-right: 5px;
    border-radius:4px;
    cursor:pointer
}